* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  font-family: "Poppings", sans-serif;

  /*  FAMILIAS TIPOGRAFICAS DE GOOGLE PARA TITULOS
      
      font-family: "Aclonica", serif;
      font-family: "Bruno Ace SC", serif;
      font-family: "Chango", serif;
      font-family: "Clicker Script", serif;
      font-family: "Delius Unicase", serif;
      font-family: "Electrolize", serif;
      font-family: "Geostar Fill", serif;
      font-family: "Gwendolyn", serif;
      font-family: "Iceberg", serif;
      font-family: "Iceland", serif;
      font-family: "Lumanosimo", serif;
      font-family: "Martian Mono", serif;
      font-family: "Michroma", serif;
      font-family: "Moo Lah Lah", serif;
      font-family: "Orbitron", serif;
      font-family: "Press Start 2P", serif;
      font-family: "Sansita", serif;
      font-family: "Shrikhand", serif;
      font-family: "Syne Mono", serif;
      font-family: "Tangerine", serif;
  */
}

html {
  font-size: 62.5%;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  color: white;

  background: url("../imagenes/fondo/patterns/dark-honeycomb.png") repeat center,
    /* Patrón */ linear-gradient(to bottom, #488199, #506d75, #336a81); /* Degradado */

  background-blend-mode: overlay; /* Mezcla las capas para fusionarlas */
  background-size: auto, cover; /* Tamaño del patrón y del degradado */
  background-attachment: scroll; /* Evita los errores de fixed en móviles */
}

header {
  width: 100%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav.navbar {
  margin-top: 20px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

nav.navbar a.navbar-brand.logo {
  padding: 0 0 0 100px;
  font-size: 3rem;
  color: rgb(236, 129, 68);
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease;
}

nav.navbar a.navbar-brand.logo:hover {
  transform: scale(1.1) translateY(20px) translateX(20px);
}

div.navbar-collapse {
  padding-right: 50px;
}
nav.navbar a.nav-link {
  font-size: 2rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border: 3px solid transparent;
}

nav.navbar a.nav-link:hover,
nav.navbar a.nav-link.active {
  color: rgb(236, 129, 68);
  border-bottom: 3px solid rgb(236, 129, 68);
}

section,
body {
  padding: 5rem 5% 5rem;
}
/************************************/
/**********  SECCIÓN HOME ***********/
/************************************/

section#Home {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

div.main-content-home {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
}

div.home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

div.home-content h1 span {
  font-family: "Michroma", serif;
  font-size: 5.1rem;
}

span {
  color: rgb(236, 129, 68);
}

.texto-tipeado {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
  min-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  align-items: center;
}

.text-din {
  color: rgb(236, 129, 68);
}

/* Cursor separado */
.cursor {
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: rgb(236, 129, 68);
  animation: blink 0.8s step-end infinite;
}

/* Animación del cursor (parpadeo) */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.home-content p {
  margin: 35px 0 0 15px;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2;
  white-space: pre-line; /* Mantiene saltos de línea */
}

div.home-img {
  border-radius: 50%;
}

div.home-img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 30px 5px rgb(252, 250, 250);
  cursor: pointer;
  transition: transform 1s linear, box-shadow 1s linear; /* Aplica transición solo en las propiedades necesarias */
  will-change: transform, box-shadow; /* Acelera la animación con hardware */
}

.home-img img:hover {
  box-shadow: 0 0 50px 5px rgb(236, 129, 68);
  transform: rotateY(180deg);
}

.home-iconos-redes {
  margin: 20px 0;
  height: auto;
}

.home-iconos-redes ul {
  display: flex;
  justify-content: space-evenly;
}
.home-iconos-redes ul li a {
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border: 0.2rem solid rgb(236, 129, 68);
  font-size: 2rem;
  border-radius: 50%;
  transition: 0.3s ease;
}

.home-iconos-redes ul li a:hover {
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: rgb(236, 129, 68);
  box-shadow: 0 0 25px rgb(236, 129, 68);
}

.home-content-info {
  margin: 1px;
}

p.texto-random {
  color: rgb(250, 163, 113);
  margin: 5px 0 5px 0;
  padding: 10px 0px;
  font-size: 1.8rem;
  font-weight: 300;
}

div.button-container {
  width: fit-content; /* Ajusta el ancho del contenedor al contenido */
  margin: 20px auto; /* Centra horizontalmente el contenedor */
}

.btn-estilo {
  width: 120px;
  height: 40px;
  margin: 0 25px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  word-spacing: 15px;
  border-radius: 30px;
  background-color: rgb(236, 129, 68);
  transition: 0.1s ease;
  padding: 8px 0;
}

.btn-estilo:hover {
  font-size: 1.5rem;
  background-color: rgb(236, 129, 60);
  box-shadow: 0 0 15px rgb(245, 243, 243);
  transform: scale(1.1) translateY(-5px);
}

/********************************************/
/**********  TITULOS DE SECCIONES ***********/
/********************************************/

.titulo {
  /*  FAMILIAS TIPOGRAFICAS DE GOOGLE PARA TITULOS
      
      font-family: "Aclonica", serif; 6
      font-family: "Bruno Ace SC", serif; 8
      font-family: "Chango", serif; 8
      font-family: "Clicker Script", serif; 7c
      font-family: "Delius Unicase", serif; 6
      font-family: "Electrolize", serif; 7
      font-family: "Geostar Fill", serif; 7
      font-family: "Gwendolyn", serif; 6c
      font-family: "Iceberg", serif; 7
      font-family: "Iceland", serif; 8
      font-family: "Lumanosimo", serif; 7
      font-family: "Martian Mono", serif; 6
      font-family: "Michroma", serif; 8
      font-family: "Moo Lah Lah", serif; 6
      font-family: "Orbitron", serif; 7
      font-family: "Press Start 2P", serif; 8
      font-family: "Sansita", serif; 6
      font-family: "Shrikhand", serif; 8
      font-family: "Syne Mono", serif; 7
      font-family: "Tangerine", serif; 6
  */

  font-family: "Bruno Ace SC", serif;
  font-size: 4rem;
  display: flex;
  color: rgb(236, 129, 68);
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 10px 50px 10px 0;
  border-bottom: 2px solid rgb(236, 129, 68);
}

/****************************************/
/**********  SECCIÓN ABOUT ME ***********/
/****************************************/

p.texto-info {
  font-size: 2rem;
  padding: 20px 0 20px 0;
  letter-spacing: 0.5px;
  line-height: 3rem;
  text-align: end;
}

p.texto-info span.exp {
  margin-top: 10px;
  font-style: italic;
  display: inline-block;
  transition: 0.2s ease;
}

p.texto-info span.exp:hover {
  transform: scale(1.1);
  cursor: pointer;
}

p.texto-info span.titulo-exp {
  color: white;
  font-size: 2rem;
  font-style: italic;

  border-bottom: 1px solid rgb(255, 255, 255);
  word-spacing: 1px;
}

/********************************************/
/**********  SECCIÓN SKILLS Y TEC ***********/
/********************************************/

.sub-titles {
  font-family: "Bruno Ace SC", serif;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  margin: 120px 0 0 0;
  padding: 10px 0;
}

.sub-titles i {
  color: white;
  background-color: black;
  font-size: 2rem;
  align-self: center;
}

div.main-content-section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

div.main-content-section svg,
div.main-content-section img {
  transition: transform 0.2s ease; /* Agrega una transición suave */
}

div.main-content-section svg:hover,
div.main-content-section img:hover {
  transform: scale(1.3); /* Aumenta el tamaño del SVG al pasar el mouse */
  filter: brightness(1.2); /* Opción adicional para aumentar el brillo */
  filter: drop-shadow(1px 1px 20px rgb(223, 223, 223));
}

/*****************************************/
/**********  SECCIÓN PROYECTOS ***********/
/*****************************************/

div.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /*grid de 2 columnas iguales*/
  gap: 20px;
  padding: 20px;
  align-items: stretch;
}

div.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

/*  estilos para cada caja contenedor de un proyecto*/
div.main-content-project {
  background-color: rgb(46, 48, 48);
  padding: 20px;
  border: 1px solid darkgoldenrod;
  display: flex;
  flex-direction: column; /* Organiza los elementos verticalmente */
  justify-content: space-evenly; /* Distribuye espacio entre los elementos */
  flex-grow: 1; /* Ocupa todo el espacio disponible dentro de cada celda del grid */
}

h5.project-name {
  font-family: "Michroma", serif;
  font-size: 3rem;
  color: white;
  text-shadow: -2px -2px black;
}

p.project-description {
  padding: 15px 0;
  font-size: 1.6rem;
  font-style: normal;
  letter-spacing: 0.8px;
}

div.body-content-project {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

div.img-project {
  width: 100%;
  max-width: 800px;
  height: auto;
  overflow: hidden;
  position: relative;
}

div.img-project img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block; /* Evita espacios adicionales alrededor de la imagen */
  image-rendering: auto; /* Asegura que la imagen conserve la calidad al escalar */
}

div.tech-project {
  max-height: 200px;
}

p.tech-description {
  padding: 30px 0 0px 10px;
  font-size: 2rem;
  font-family: "Michroma", serif;
  text-align: center;
}

div.tech-icons {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: space-evenly;
}

.foot-project {
  height: auto;
  align-self: center;
  margin-top: 20px;
}

a.project-link {
  color: rgb(236, 129, 68);
  font-size: 1.7rem;
  text-decoration: none;
  list-style-type: none;
}

/****************************************/
/**********  SECCIÓN CONTACT ***********/
/****************************************/

p.texto-info-contacto {
  font-size: 1.8rem;
  letter-spacing: 0.3px;
  line-height: 3rem;
  padding-left: 10px;
}

div.datos {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  box-sizing: border-box; /* Asegura que padding no desborde el contenedor */
  flex-wrap: wrap;
}

div.form-container {
  max-width: 590px;
  min-width: 600px;
  margin: 30px 0px 0px 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgb(236, 129, 68);
}

form.contact-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

form.contact-form label {
  color: rgb(236, 129, 68);
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}

form.contact-form input,
form.contact-form textarea {
  margin-top: 5px;
  padding: 10px 0 10px 25px;
  border: 2px solid rgb(236, 129, 68);
  border-radius: 20px;
  font-size: 1.6rem;
}

input::placeholder,
textarea::placeholder {
  color: #555;
  font-size: 1.5rem;
  font-style: italic;
}

form.contact-form button {
  color: white;
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 25px;
  font-size: 1.8rem;
  background-color: rgb(236, 129, 68);
  cursor: pointer;
  transition: 0.3s ease;
}

form.contact-form button:hover {
  scale: 1.1;
  filter: drop-shadow(2px 2px 5px white);
  color: black;
}

div.contenedor-datos {
  margin: 30px 0px 0px 20px;
  padding: 40px 0 10px 40px;
}

div.contenedor-cvs {
  display: inline-flex;
  flex-direction: row;
  gap: 50px;
}

div.cvs {
  display: flex;
  flex-direction: column;
  align-content: center;
}

p.texto-cv {
  font-size: 1.6rem;
  padding: 5px;
}

a.btn-estilo-cv {
  width: 140px;
  height: 40px;
  margin: 10px auto;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  word-spacing: 15px;
  border-radius: 30px;
  background-color: rgb(236, 129, 68);
  transition: 0.1s ease;

  /* Centrado usando flexbox */
  display: flex; /* Activar flexbox */
  justify-content: space-evenly; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  text-align: center; /* Por si hay varias líneas de texto */
  padding: 0; /* Asegúrate de que no haya padding adicional */
}

a.btn-estilo-cv:hover {
  font-size: 1.5rem;
  background-color: rgb(236, 129, 60);
  box-shadow: 0 0 15px rgb(245, 243, 243);
  transform: scale(1.1) translateY(-5px);
}

div.contact-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

p.label-contact-icon {
  font-size: 1.5rem;
  margin-top: 10px;
  text-align: center;
}

a.anchor-contact-icon {
  font-size: 25px;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-self: center;
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border: 0.2rem solid rgb(236, 129, 68);
  border-radius: 50%;
  margin: 0 1.5rem 3rem 1rem;
  transition: 0.3s ease;
}

a.anchor-contact-icon:hover {
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: rgb(236, 129, 68);
  box-shadow: 0 0 25px rgb(236, 129, 68);
}

a.anchor-contact-icon i {
  align-self: center;
}

.input-group-lg .form-control,
.input-group-lg .btn {
  height: 40px; /* Aumenta la altura del input y botón */
  font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
  font-weight: 400;
}

.mensaje-copiado {
  opacity: 0;
  visibility: hidden;
  font-size: 1.4rem;
  transition: opacity 0.3s ease;
}

.visible {
  opacity: 1;
  visibility: visible;
}

/************************************************************/
/************* PRINCIPIO DE MEDIA QUERIES *******************/
/************************************************************/

@media all and (min-width: 600px) and (max-width: 1200px) {
  html {
    font-size: 62.5%;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }

  header {
    width: 98%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  nav.navbar {
    margin-top: 20px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
  }

  button.navbar-toggler {
    width: 48px; /* Ajusta según lo que necesites */
    height: 48px;
    margin-right: 10px;
    padding: 8px; /* Asegura que el ícono tenga espacio */
    border-radius: 8px; /* Opcional: redondea los bordes */
    border: 2px solid rgb(236, 129, 60);
  }

  span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='rgb(236,129,68)' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath stroke-width='2' fill-rule='evenodd' d='M2 12h12v1H2v-1zm0-5h12v1H2V7zm0-5h12v1H2V2z'/%3E%3C/svg%3E");
    width: 30px; /* Tamaño del ícono en el botón */
    height: 30px;
  }

  nav.navbar a.navbar-brand.logo {
    padding: 0 0 0 30px;
    font-size: 2.5rem;
    color: rgb(236, 129, 68);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
  }

  nav.navbar a.navbar-brand.logo:hover {
    transform: scale(1.1) translateY(5px) translateX(5px);
  }

  div.navbar-collapse {
    padding-right: 25px;
    text-align: end;
    margin-top: 20px;
  }

  nav.navbar a.nav-link {
    display: inline-block;
    font-size: 2rem;
    color: white;
    margin-left: 2rem;
    font-weight: 500;
    transition: 0.3s ease;
    border: 3px solid transparent;
  }

  nav.navbar a.nav-link:hover,
  nav.navbar a.nav-link.active {
    color: rgb(236, 129, 68);
    border-bottom: 3px solid rgb(236, 129, 68);
  }

  section {
    padding: 0 5% 0;
  }
  /************************************/
  /**********  SECCIÓN HOME ***********/
  /************************************/

  section#Home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 100px;
    height: auto;
  }

  div.main-content-home {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  div.home-content {
    text-align: center;
  }

  div.home-content h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.3;
  }

  span {
    color: rgb(236, 129, 68);
  }

  .texto-tipeado {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
    min-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }

  .text-din {
    color: rgb(236, 129, 68);
  }

  /* Cursor separado */
  .cursor {
    display: inline-block;
    width: 2px;
    height: 100%;
    background-color: rgb(236, 129, 68);
    animation: blink 0.8s step-end infinite;
  }

  /* Animación del cursor (parpadeo) */
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .home-content p {
    margin: 35px 0 0 15px;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2;
    white-space: pre-line; /* Mantiene saltos de línea */
  }

  div.home-img {
    border-radius: 50%;
  }

  div.home-img img {
    position: relative;
    width: 40vw;
    border-radius: 50%;
    box-shadow: 0 0 30px 5px rgb(252, 250, 250);
    cursor: pointer;
    transition: transform 1s linear, box-shadow 1s linear; /* Aplica transición solo en las propiedades necesarias */
    will-change: transform, box-shadow; /* Acelera la animación con hardware */
  }

  .home-img img:hover {
    box-shadow: 0 0 50px 5px rgb(236, 129, 68);
    transform: rotateY(180deg);
  }

  .home-iconos-redes {
    margin: 20px 0;
  }

  .home-iconos-redes ul {
    display: flex;
    justify-content: space-evenly;
  }
  .home-iconos-redes ul li a {
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border: 0.2rem solid rgb(236, 129, 68);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
  }

  .home-iconos-redes ul li a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: rgb(236, 129, 68);
    box-shadow: 0 0 25px rgb(236, 129, 68);
  }

  .home-content-info {
    margin: 20px 0;
  }

  p.texto-random {
    color: rgb(250, 163, 113);
    margin: 5px 0 5px 0;
    padding: 10px 0px;
    font-size: 1.8rem;
    font-weight: 300;
  }

  div.button-container {
    width: fit-content; /* Ajusta el ancho del contenedor al contenido */
    margin: 20px auto; /* Centra horizontalmente el contenedor */
  }

  .btn-estilo {
    width: 120px;
    height: 40px;
    margin: 0 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    word-spacing: 15px;
    border-radius: 30px;
    background-color: rgb(236, 129, 68);
    transition: 0.1s ease;
    padding: 8px 0;
  }

  .btn-estilo:hover {
    font-size: 1.5rem;
    background-color: rgb(236, 129, 60);
    box-shadow: 0 0 15px rgb(245, 243, 243);
    transform: scale(1.1) translateY(-5px);
  }

  /********************************************/
  /**********  TITULOS DE SECCIONES ***********/
  /********************************************/

  .titulo {
    font-family: "Bruno Ace SC", serif;
    display: flex;
    color: rgb(236, 129, 68);
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 10px 50px 10px 0;
    font-size: 4rem;
    border-bottom: 2px solid rgb(236, 129, 68);
  }

  /****************************************/
  /**********  SECCIÓN ABOUT ME ***********/
  /****************************************/

  p.texto-info {
    font-size: 2rem;
    padding: 20px 0 20px 0;
    letter-spacing: 0.5px;
    line-height: 3rem;
    text-align: end;
  }

  p.texto-info span.exp {
    margin-top: 10px;
    font-style: italic;
    display: inline-block;
    transition: 0.2s ease;
  }

  p.texto-info span.exp:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  p.texto-info span.titulo-exp {
    color: white;
    font-size: 2rem;
    font-style: italic;

    border-bottom: 1px solid rgb(255, 255, 255);
    word-spacing: 1px;
  }

  /********************************************/
  /**********  SECCIÓN SKILLS Y TEC ***********/
  /********************************************/

  .sub-titles {
    font-size: 2.8rem;
    color: rgb(255, 255, 255);
    margin: 120px 0 0 0;
    padding: 10px 0;
  }

  .sub-titles i {
    color: white;
    background-color: black;
    font-size: 2rem;
    align-self: center;
  }

  div.main-content-section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
  }

  div.main-content-section svg,
  div.main-content-section img {
    transition: transform 0.2s ease; /* Agrega una transición suave */
  }

  div.main-content-section svg:hover,
  div.main-content-section img:hover {
    transform: scale(1.3); /* Aumenta el tamaño del SVG al pasar el mouse */
    filter: brightness(1.2); /* Opción adicional para aumentar el brillo */
    filter: drop-shadow(1px 1px 20px rgb(223, 223, 223));
  }

  /*****************************************/
  /**********  SECCIÓN PROYECTOS ***********/
  /*****************************************/

  div.projects {
    display: grid;
    grid-template-columns: 1fr; /*grid de 1 columna*/
    gap: 20px;
    padding: 20px;
    align-items: stretch;
  }

  div.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  /*  estilos para cada caja contenedor de un proyecto*/
  div.main-content-project {
    background-color: rgb(46, 48, 48);
    padding: 20px;
    border: 1px solid darkgoldenrod;
    display: flex;
    flex-direction: column; /* Organiza los elementos verticalmente */
    justify-content: space-evenly; /* Distribuye espacio entre los elementos */
    flex-grow: 1; /* Ocupa todo el espacio disponible dentro de cada celda del grid */
  }

  h5.project-name {
    font-size: 3rem;
    color: white;
    text-shadow: -2px -2px black;
  }

  p.project-description {
    padding: 15px 0;
    font-size: 1.6rem;
    font-style: normal;
    letter-spacing: 0.8px;
  }

  div.body-content-project {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }

  div.img-project {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
  }

  div.img-project img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block; /* Evita espacios adicionales alrededor de la imagen */
    image-rendering: auto; /* Asegura que la imagen conserve la calidad al escalar */
  }

  div.tech-project {
    max-height: 200px;
  }

  p.tech-description {
    padding: 25px 0 0px 10px;
    font-size: 1.8rem;
    font-style: normal;
    text-align: center;
  }

  div.tech-icons {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-evenly;
  }

  .foot-project {
    height: auto;
    align-self: center;
    margin-top: 20px;
  }

  a.project-link {
    color: rgb(236, 129, 68);
    font-size: 1.7rem;
    text-decoration: none;
    list-style-type: none;
  }

  /****************************************/
  /**********  SECCIÓN CONTACT ***********/
  /****************************************/

  p.texto-info-contacto {
    text-align: start !important;
    font-size: 1.8rem;
    letter-spacing: 0.3px;
    line-height: 3rem;
    padding-left: 10px;
  }

  div.datos {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    box-sizing: border-box; /* Asegura que padding no desborde el contenedor */
    flex-wrap: wrap;
  }

  div.form-container {
    max-width: 580px;
    min-width: 450px;
    margin: 30px auto 0px auto;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgb(236, 129, 68);
  }

  form.contact-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  form.contact-form label {
    color: rgb(236, 129, 68);
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.5rem;
  }

  form.contact-form input,
  form.contact-form textarea {
    margin-top: 5px;
    padding: 10px 0 10px 25px;
    border: 2px solid rgb(236, 129, 68);
    border-radius: 20px;
    font-size: 1.6rem;
  }

  input::placeholder,
  textarea::placeholder {
    color: #555;
    font-size: 1.5rem;
    font-style: italic;
  }

  form.contact-form button {
    color: white;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 25px;
    font-size: 1.8rem;
    background-color: rgb(236, 129, 68);
    cursor: pointer;
    transition: 0.3s ease;
  }

  form.contact-form button:hover {
    scale: 1.1;
    filter: drop-shadow(2px 2px 5px white);
    color: black;
  }

  div.contenedor-datos {
    margin: 30px 0px 0px 20px;
    padding: 40px 0 10px 40px;
  }

  div.contenedor-cvs {
    display: inline-flex;
    flex-direction: row;
    gap: 50px;
  }

  div.cvs {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  p.texto-cv {
    font-size: 1.4rem;
    padding: 5px;
  }

  a.btn-estilo-cv {
    width: 140px;
    height: 40px;
    margin: 10px auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    word-spacing: 15px;
    border-radius: 30px;
    background-color: rgb(236, 129, 68);
    transition: 0.1s ease;

    /* Centrado usando flexbox */
    display: flex; /* Activar flexbox */
    justify-content: space-evenly; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    text-align: center; /* Por si hay varias líneas de texto */
    padding: 0; /* Asegúrate de que no haya padding adicional */
  }

  a.btn-estilo-cv:hover {
    font-size: 1.5rem;
    background-color: rgb(236, 129, 60);
    box-shadow: 0 0 15px rgb(245, 243, 243);
    transform: scale(1.1) translateY(-5px);
  }

  div.contact-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

  p.label-contact-icon {
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: center;
  }

  a.anchor-contact-icon {
    font-size: 25px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border: 0.2rem solid rgb(236, 129, 68);
    border-radius: 50%;
    margin: 0 1.5rem 3rem 1rem;
    transition: 0.3s ease;
  }

  a.anchor-contact-icon:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: rgb(236, 129, 68);
    box-shadow: 0 0 25px rgb(236, 129, 68);
  }

  a.anchor-contact-icon i {
    align-self: center;
  }

  .input-group-lg .form-control,
  .input-group-lg .btn {
    height: 40px; /* Aumenta la altura del input y botón */
    font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
    font-weight: 600;
    text-align: center;
  }

  .mensaje-copiado {
    opacity: 0;
    visibility: hidden;
    font-size: 1.4rem;
    transition: opacity 0.3s ease;
  }

  .visible {
    opacity: 1;
    visibility: visible;
  }
}

@media all and (max-width: 599px) {
  html {
    font-size: 62.5%;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    color: white;
  }

  header {
    width: 95%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  nav.navbar {
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
  }

  button.navbar-toggler {
    width: 48px; /* Ajusta según lo que necesites */
    height: 48px;
    margin-right: 10px;
    margin-left: auto;
    padding: 8px; /* Asegura que el ícono tenga espacio */
    border-radius: 8px; /* Opcional: redondea los bordes */
    border: 2px solid rgb(236, 129, 60);
  }

  span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='rgb(236,129,68)' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath stroke-width='2' fill-rule='evenodd' d='M2 12h12v1H2v-1zm0-5h12v1H2V7zm0-5h12v1H2V2z'/%3E%3C/svg%3E");
    width: 30px; /* Tamaño del ícono en el botón */
    height: 30px;
  }

  nav.navbar a.navbar-brand.logo {
    display: none;
    padding: 20px;
    font-size: 2.2rem;
    color: rgb(236, 129, 68);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
  }

  nav.navbar a.navbar-brand.logo:hover {
    transform: scale(1.2);
    filter: hue-rotate(90deg);
  }

  div.navbar-collapse {
    padding-right: 2px;
    text-align: end;
  }
  nav.navbar a.nav-link {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border: 3px solid transparent;
    display: inline-block;
  }

  nav.navbar a.nav-link:hover,
  nav.navbar a.nav-link.active {
    color: rgb(236, 129, 68);
    border-bottom: 3px solid rgb(236, 129, 68);
    text-shadow: 2px 2px black;
  }

  section,
  body {
    padding: 25px 5% 25px;
  }

  div.projects {
    display: grid;
    grid-template-columns: 1fr; /* Asegura que solo haya una columna en móviles */
    padding: 10px; /* Reduce padding para evitar cortes */
  }

  /************************************/
  /**********  SECCIÓN HOME ***********/
  /************************************/

  section#Home {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  div.main-content-home {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  div.home-content {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div.home-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 20px;
  }

  div.home-content h1 span {
    font-family: "Michroma", serif;
    font-size: 4rem;
  }

  span {
    color: rgb(236, 129, 68);
  }

  .texto-tipeado {
    min-height: 145px;
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    min-width: 250px;
    white-space: wrap;
    overflow: hidden;
    display: inline-block;
    text-align: center;
  }

  .text-din {
    color: rgb(236, 129, 68);
  }

  /* Cursor separado */
  .cursor {
    display: inline-block;
    width: 0%;
    height: 100%;
    background-color: rgb(236, 129, 68);
    animation: blink 0.8s step-end infinite;
  }

  /* Animación del cursor (parpadeo) */
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .home-content p {
    margin: 10px 0 0 15px;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    white-space: pre-line; /* Mantiene saltos de línea */
    text-align: center;
  }

  div.home-img {
    border-radius: 50%;
  }

  div.home-img img {
    position: relative;
    width: 50vw;
    border-radius: 50%;
    box-shadow: 0 0 30px 5px rgb(252, 250, 250);
    cursor: pointer;
    transition: transform 1s linear, box-shadow 1s linear; /* Aplica transición solo en las propiedades necesarias */
    will-change: transform, box-shadow; /* Acelera la animación con hardware */
  }

  .home-img img:hover {
    box-shadow: 0 0 50px 5px rgb(236, 129, 68);
    transform: rotateY(180deg);
  }

  .home-iconos-redes {
    margin: 20px 0;
    height: auto;
  }

  .home-iconos-redes ul {
    display: flex;
    justify-content: space-evenly;
  }
  .home-iconos-redes ul li a {
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border: 0.2rem solid rgb(236, 129, 68);
    font-size: 2rem;
    border-radius: 50%;
    transition: 0.3s ease;
  }

  .home-iconos-redes ul li a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: rgb(236, 129, 68);
    box-shadow: 0 0 25px rgb(236, 129, 68);
  }

  .home-content-info {
    margin: 1px 0;
  }

  p.texto-random {
    color: rgb(250, 163, 113);
    margin: 5px 0 5px 0;
    padding: 10px 0px;
    font-size: 1.8rem;
    font-weight: 300;
  }

  div.button-container {
    width: fit-content; /* Ajusta el ancho del contenedor al contenido */
    margin: 20px auto; /* Centra horizontalmente el contenedor */
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .btn-estilo {
    width: 120px;
    height: 40px;
    margin: 0 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    word-spacing: 15px;
    border-radius: 30px;
    background-color: rgb(236, 129, 68);
    transition: 0.1s ease;
    padding: 8px 0;
  }

  .btn-estilo:hover {
    font-size: 1.5rem;
    background-color: rgb(236, 129, 60);
    box-shadow: 0 0 15px rgb(245, 243, 243);
    transform: scale(1.1) translateY(-5px);
  }

  /********************************************/
  /**********  TITULOS DE SECCIONES ***********/
  /********************************************/

  .titulo {
    /*  FAMILIAS TIPOGRAFICAS DE GOOGLE PARA TITULOS
        
        font-family: "Aclonica", serif; 6
        font-family: "Bruno Ace SC", serif; 8
        font-family: "Chango", serif; 8
        font-family: "Clicker Script", serif; 7c
        font-family: "Delius Unicase", serif; 6
        font-family: "Electrolize", serif; 7
        font-family: "Geostar Fill", serif; 7
        font-family: "Gwendolyn", serif; 6c
        font-family: "Iceberg", serif; 7
        font-family: "Iceland", serif; 8
        font-family: "Lumanosimo", serif; 7
        font-family: "Martian Mono", serif; 6
        font-family: "Michroma", serif; 8
        font-family: "Moo Lah Lah", serif; 6
        font-family: "Orbitron", serif; 7
        font-family: "Press Start 2P", serif; 8
        font-family: "Sansita", serif; 6
        font-family: "Shrikhand", serif; 8
        font-family: "Syne Mono", serif; 7
        font-family: "Tangerine", serif; 6
    */

    font-family: "Bruno Ace SC", serif;
    font-size: 3rem;
    display: flex;
    color: rgb(236, 129, 68);
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 10px 10px 10px 0;
    border-bottom: 2px solid rgb(236, 129, 68);
  }

  /****************************************/
  /**********  SECCIÓN ABOUT ME ***********/
  /****************************************/

  p.texto-info {
    font-size: 1.8rem;
    padding: 0px 0 20px 0;
    letter-spacing: 0.5px;
    line-height: 3rem;
    text-align: end;
    margin-top: 10px !important;
  }

  p.texto-info span.exp {
    margin-top: 10px;
    font-style: italic;
    display: inline-block;
    transition: 0.2s ease;
  }

  p.texto-info span.exp:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  p.texto-info span.titulo-exp {
    color: white;
    font-size: 2rem;
    font-style: italic;

    border-bottom: 1px solid rgb(255, 255, 255);
    word-spacing: 1px;
  }

  /********************************************/
  /**********  SECCIÓN SKILLS Y TEC ***********/
  /********************************************/

  .sub-titles {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    margin: 20px 0 0 0;
    padding: 10px 0;
  }

  .sub-titles i {
    color: white;
    background-color: black;
    font-size: 2rem;
    align-self: center;
  }

  div.main-content-section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
  }

  div.main-content-section svg,
  div.main-content-section img {
    transition: transform 0.2s ease; /* Agrega una transición suave */
  }

  div.main-content-section svg:hover,
  div.main-content-section img:hover {
    transform: scale(1.3); /* Aumenta el tamaño del SVG al pasar el mouse */
    filter: brightness(1.2); /* Opción adicional para aumentar el brillo */
    filter: drop-shadow(1px 1px 20px rgb(223, 223, 223));
  }

  /*****************************************/
  /**********  SECCIÓN PROYECTOS ***********/
  /*****************************************/

  div.projects {
    display: grid;
    grid-template-columns: 1fr; /*grid de 1 columna*/
    gap: 20px;
    padding: 10px;
    align-items: stretch;
    overflow: hidden; /* Previene desbordamiento */
  }

  div.container {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 100%; /* Asegura que no exceda el ancho */
    flex-wrap: wrap; /* Permite que los elementos se ajusten */
  }

  /*  estilos para cada caja contenedor de un proyecto*/
  div.main-content-project {
    background-color: rgb(46, 48, 48);
    padding: 15px;
    border: 1px solid darkgoldenrod;
    display: flex;
    flex-direction: column; /* Organiza los elementos verticalmente */
    justify-content: space-evenly; /* Distribuye espacio entre los elementos */
    flex-grow: 1; /* Ocupa todo el espacio disponible dentro de cada celda del grid */
    max-width: 100%; /* Evita que exceda el ancho del contenedor */
    width: 100%; /* Asegura que se ajuste al contenedor */
    word-wrap: break-word; /* Fuerza el ajuste de texto */
    overflow: hidden; /* Oculta cualquier desbordamiento inesperado */
  }

  h5.project-name {
    font-family: "Michroma", serif;
    font-size: 2rem;
    color: white;
    text-shadow: -2px -2px black;
    word-break: break-word; /* Asegura que el texto no desborde */
  }

  p.project-description {
    padding: 15px 0;
    font-size: 1.4rem;
    font-style: normal;
    letter-spacing: 0.8px;
    word-break: break-word;
  }

  div.body-content-project {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
  }

  div.img-project {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
  }

  div.img-project img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block; /* Evita espacios adicionales alrededor de la imagen */
    image-rendering: auto; /* Asegura que la imagen conserve la calidad al escalar */
  }

  div.tech-project {
    max-height: 200px;
    overflow-y: auto; /* Permite scroll si es necesario */
  }

  p.tech-description {
    padding: 30px 0 0px 10px;
    font-size: 1.8rem;
    font-family: "Michroma", serif;
    text-align: center;
    word-break: break-word; /* Evita desbordamientos de texto */
  }

  div.tech-icons {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
  }

  div.tech-icons svg {
    width: 40px; /* Cambia el tamaño según tu necesidad */
    height: 40px;
    max-width: 100%; /* Asegura que no excedan el contenedor */
  }

  .foot-project {
    height: auto;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
  }

  a.project-link {
    color: rgb(236, 129, 68);
    font-size: 1.2rem;
    padding: 5px 10px;
    text-decoration: none;
    list-style-type: none;
    white-space: normal; /* Permite que el texto haga salto de línea */
    word-wrap: break-word; /* Fuerza el corte si es necesario */
    overflow-wrap: break-word; /* Alternativa para compatibilidad */
    display: block; /* Asegura que ocupe solo el ancho necesario */
    text-align: center; /* Mantiene el texto centrado */
  }

  /****************************************/
  /**********  SECCIÓN CONTACT ***********/
  /****************************************/

  p.texto-info-contacto {
    text-align: start !important;
    font-size: 1.8rem;
    letter-spacing: 0.3px;
    line-height: 3rem;
  }

  div.datos {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    box-sizing: border-box; /* Asegura que padding no desborde el contenedor */
    flex-wrap: wrap;
  }

  div.form-container {
    max-width: 580px;
    min-width: 100%;
    margin: 30px auto 0px auto;
    border-radius: 20px;
    box-shadow: -2px 2px 10px rgb(236, 129, 68);
  }

  form.contact-form {
    max-width: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  form.contact-form label {
    color: rgb(236, 129, 68);
    margin-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.5rem;
  }

  form.contact-form input,
  form.contact-form textarea {
    margin-top: 5px;
    padding: 10px 0 10px 25px;
    border: 2px solid rgb(236, 129, 68);
    border-radius: 20px;
    font-size: 1.6rem;
  }

  input::placeholder,
  textarea::placeholder {
    color: #555;
    font-size: 1.2rem;
    font-style: italic;
  }

  form.contact-form button {
    color: white;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 25px;
    font-size: 1.8rem;
    background-color: rgb(236, 129, 68);
    cursor: pointer;
    transition: 0.3s ease;
  }

  form.contact-form button:hover {
    scale: 1.1;
    filter: drop-shadow(2px 2px 5px white);
    color: black;
  }

  div.contenedor-datos {
    margin: 20px 0px 20px 0px;
    padding: 20px;
    width: 100%;
    max-width: auto;
  }

  div.contenedor-cvs {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  div.cvs {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  p.texto-cv {
    font-size: 1.5rem;
    padding: 5px;
  }

  a.btn-estilo-cv {
    width: 140px;
    height: 40px;
    margin: 10px auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    word-spacing: 15px;
    border-radius: 30px;
    background-color: rgb(236, 129, 68);
    transition: 0.1s ease;

    /* Centrado usando flexbox */
    display: flex; /* Activar flexbox */
    justify-content: space-evenly; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    text-align: center; /* Por si hay varias líneas de texto */
    padding: 0; /* Asegúrate de que no haya padding adicional */
  }

  a.btn-estilo-cv:hover {
    font-size: 1.5rem;
    background-color: rgb(236, 129, 60);
    box-shadow: 0 0 15px rgb(245, 243, 243);
    transform: scale(1.1) translateY(-5px);
  }

  div.contact-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

  p.label-contact-icon {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
  }

  a.anchor-contact-icon {
    font-size: 25px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border: 0.2rem solid rgb(236, 129, 68);
    border-radius: 50%;
    margin: 0 1.5rem 3rem 1rem;
    transition: 0.3s ease;
  }

  a.anchor-contact-icon:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: rgb(236, 129, 68);
    box-shadow: 0 0 25px rgb(236, 129, 68);
  }

  a.anchor-contact-icon i {
    align-self: center;
  }

  .input-group-lg .form-control,
  .input-group-lg .btn {
    height: 40px; /* Aumenta la altura del input y botón */
    font-size: 1.3rem; /* Aumenta el tamaño de la fuente */
    font-weight: 600;
    text-align: center;
  }

  .mensaje-copiado {
    opacity: 0;
    visibility: hidden;
    font-size: 1.4rem;
    transition: opacity 0.3s ease;
  }

  .visible {
    opacity: 1;
    visibility: visible;
  }
}
